@{
    ViewBag.Title = "Compras";
    ViewBag.compra = "active";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="app-title">
    <div>
        <h1><i class="fa fa-user"></i> Compras</h1>
        <p>Busqueda y creaci&oacute;n de compras</p>
    </div>
    <ul class="app-breadcrumb breadcrumb">
        <li class="breadcrumb-item"><i class="fa fa-home fa-lg"></i></li>
        <li class="breadcrumb-item"><a href="#">Compras</a></li>
    </ul>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="tile">
            <div class="row">
                <div class="col-12">
                    <h3>Datos de Compra</h3>
                </div>

            </div>
            <form method="post" data-bind="submit: crearCompra">
                <div class="row mt-3">
                    <div class="form-group col-md-6">
                        <label>Proveedor</label>
                        <input value="@ViewBag.id" id="txtIdCompra" type="hidden" />
                        <input type="hidden" name="IdProveedor" data-bind="textInput: proveedor().IdContacto" />
                        <input data-toggle="modal" data-bind="textInput: proveedor().Nombre + ' ' + proveedor().Apellidos" data-target="#modalProveedores" readonly class=" btn form-control readonly text-left" />
                    </div> <div class="form-group col-md-4">
                        <label>No. Factura</label>
                        <input type="text" name="Referencia" data-bind="textInput: referencia" class="form-control" />
                    </div>
                    <div class="col-md-6" data-bind="if: idCompra() == 0">
                        <button type="submit" class="btn btn-success">Crear</button>
                    </div>
                </div>
            </form>

            <div class="row mt-4" data-bind="if: idCompra() > 0">
                <div class="col-12">
                    <form method="post" data-bind="submit: agregarArticulo">
                        <div class="row">
                            <div class="row col-12">
                                <div class="form-group col-md-4">
                                    <input type="text" placeholder="Codigo de Barras" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group col-md-4">
                                <label><strong>Articulo</strong></label>
                                <input type="hidden" name="IdArticulo" required data-bind="textInput: articuloActual().IdArticulo"/>
                                <input type="text" data-bind="textInput: articuloActual().Descripcion" readonly class="form-control btn readonly text-left" data-toggle="modal" data-target="#modalArticulos" />
                            </div>
                            <div class="form-group col-md-2">
                                <label><strong>Cantidad</strong></label>
                                <input type="number" id="txtCantidad" required name="Cantidad" class="form-control" />
                            </div>
                            <div class="form-group col-md-2">
                                <label><strong>Precio</strong></label>
                                <input type="number" id="txtPrecio" required name="Precio" class="form-control" />
                            </div>
                            <div class="form-group col-md-2">
                                <label><strong>Descuento</strong></label>
                                <input type="number" id="txtDescuento" required name="Descuento" class="form-control" />
                            </div>
                            <div class="form-group col-md-2">
                                <label>&nbsp;</label>
                                <div>
                                    <button type="submit" class="btn btn-success">Agregar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-12 mt-4 table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Articulo</th>
                                <th>Cantidad</th>
                                <th>Precio</th>
                                <th>Descuento</th>
                                <th>Total</th>
                                <th> &nbsp;</th>
                            </tr>
                        </thead>
                        <tbody data-bind="foreach: items">
                            <tr>
                                <td data-bind="text: Articulo">LECHE LA VAQUITA</td>
                                <td data-bind="text: Cantidad">10</td>
                                <td data-bind="text: Precio">60</td>
                                <td data-bind="text: Descuento">0</td>
                                <td data-bind="text: Total">600</td>
                                <td><a>Eliminar</a></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>


<!--MODALES-->
<div class="modal fade" id="modalProveedores" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar proveedor</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <input id="txtBusquedaProveedor" data-bind="textInput: busquedaProveedor" class="form-control" />
                    </div>

                    <div class="col-12 table-responsive mt-2">
                        <table class="table table-hover">
                            <tbody data-bind="foreach: proveedores">
                                <tr data-bind="click: $parent.escogerProveedor" class="hover-cursor">
                                    <td data-bind="text: Nombre"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>



<!--MODALES-->
<div class="modal fade" id="modalArticulos" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Seleccionar Articulo</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <input id="txtBusquedaArticulo" data-bind="textInput: busquedaArticulo" class="form-control" />
                    </div>

                    <div class="col-12 table-responsive mt-2">
                        <table class="table table-hover">
                            <tbody data-bind="foreach: articulos">
                                <tr data-bind="click: $parent.escogerArticulo" class="hover-cursor">
                                    <td data-bind="text: Descripcion"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
        </div>
    </div>
</div>


@section scripts {
    <script src="~/Scripts/compra/editar.js"></script>
}